
#forTest{
    max-width: 1200px;
    max-height: 600px;
    margin: auto;
    overflow-y: scroll;
    background-color: whitesmoke;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#forAsideRight{
    width: 50%;
    float: right;
    
}
img{
    width: 590px;
}

#forForm{
    float: left;
    width: 50%;
}

#forImage{
    
    height: 600px;
    position: fixed;
}

input,select,form{
    margin: 10px;
}

#forButtons{
margin-left: 40%;
 }

 button{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 15%;
    min-width: 100px;
    margin: 10px;
    border: none;
 }

 input{
    border-top: none;
    border-right: none;
    border-left: none;

 }